@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --la-background: 0 0% 100%;
    --la-foreground: 240 10% 3.9%;

    --la-card: 0 0% 100%;
    --la-card-foreground: 240 10% 3.9%;

    --la-popover: 0 0% 100%;
    --la-popover-foreground: 240 10% 3.9%;

    --la-primary: 262 83% 58%;
    --la-primary-foreground: 0 0% 98%;

    --la-secondary: 240 4.8% 95.9%;
    --la-secondary-foreground: 240 5.9% 10%;

    --la-muted: 240 4.8% 95.9%;
    --la-muted-foreground: 240 3.8% 46.1%;

    --la-accent: 240 4.8% 95.9%;
    --la-accent-foreground: 240 5.9% 10%;

    --la-destructive: 0 84.2% 60.2%;
    --la-destructive-foreground: 0 0% 98%;

    --la-border: 240 5.9% 90%;
    --la-input: 240 5.9% 90%;
    --la-ring: 262 83% 58%;

    --la-radius: 0.5rem;

    --la-font-sans: "Inter";
    --la-font-mono: "JetBrains Mono";

    --la-chart-1: 262 83% 58%;
    --la-chart-2: 200 80% 50%;
    --la-chart-3: 150 60% 45%;
    --la-chart-4: 30 90% 55%;
    --la-chart-5: 350 80% 55%;
  }

  .dark {
    --la-background: 240 10% 3.9%;
    --la-foreground: 0 0% 98%;

    --la-card: 240 10% 3.9%;
    --la-card-foreground: 0 0% 98%;

    --la-popover: 240 10% 3.9%;
    --la-popover-foreground: 0 0% 98%;

    --la-primary: 263 70% 50%;
    --la-primary-foreground: 0 0% 98%;

    --la-secondary: 240 3.7% 15.9%;
    --la-secondary-foreground: 0 0% 98%;

    --la-muted: 240 3.7% 15.9%;
    --la-muted-foreground: 240 5% 64.9%;

    --la-accent: 240 3.7% 15.9%;
    --la-accent-foreground: 0 0% 98%;

    --la-destructive: 0 62.8% 30.6%;
    --la-destructive-foreground: 0 0% 98%;

    --la-border: 240 3.7% 15.9%;
    --la-input: 240 3.7% 15.9%;
    --la-ring: 263 70% 50%;

    --la-chart-1: 263 70% 65%;
    --la-chart-2: 200 75% 60%;
    --la-chart-3: 150 55% 55%;
    --la-chart-4: 30 85% 65%;
    --la-chart-5: 350 75% 65%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
